@use "../abstracts/abstract" as abs;
.spinner{
  width: 5rem;
  height: 5rem;
  -webkit-animation: 1s rotate infinite linear;
  animation: 1s rotate infinite linear;
}
@keyframes rotate {
  100%{transform: rotate(360deg);}
}