$font-primary:'Rubik', sans-serif;
$font-regular:400;
$font-medium:500;
$font-bold:700;

$color-dark-gray:hsl(0, 0%, 59%);
$color-darkest-gray:hsl(0, 0%, 17%);
$color-white:#fff;

$bp-smallest:87.5em;